@use "../../assets/styles/" as *;

.SplashPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  .ppp {
    font-family: Inter, sans-serif;
  }
}
